<div class="contaider p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Edita Bloques</h3>
                </div>
                <div class="card-body">
                    <form action="/bloque/edit/{{bloque.id_bloque}}" method="post">
                        <div class="form-group">
                            <label for="">Nombre del Bloque</label>
                            <input type="text" value="{{bloque.nombre}}" class="form-control" id="nombre" name="nombre"
                                placeholder="Nombre Bloque" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Tipo de material</label>
                            <select class="form-control" name="tipo_material" placeholder="Tipo de material" autofocus>
                                <option value="3d" {{#if (eq bloque.tipo_material "3d" )}}selected{{/if}}>3d</option>
                                <option value="Sagemax" {{#if (eq bloque.tipo_material "Sagemax" )}}selected{{/if}}>Sagemax</option>
                                <option value="Stc" {{#if (eq bloque.tipo_material "Stc" )}}selected{{/if}}>Stc</option>
                                <option value="Shtc" {{#if (eq bloque.tipo_material "Shtc" )}}selected{{/if}}>Shtc</option>
                                <option value="Shtm" {{#if (eq bloque.tipo_material "Shtm" )}}selected{{/if}}>Shtm</option>
                                <option value="CrCo" {{#if (eq bloque.tipo_material "CrCo" )}}selected{{/if}}>CrCo</option>
                                <option value="Titan" {{#if (eq bloque.tipo_material "Titan" )}}selected{{/if}}>Titan</option>
                                <option value="Pmma" {{#if (eq bloque.tipo_material "Pmma" )}}selected{{/if}}>Pmma</option>
                                <option value="ShofuHc" {{#if (eq bloque.tipo_material "ShofuHc" )}}selected{{/if}}>ShofuHc</option>
                                <option value="PmmaMl" {{#if (eq bloque.tipo_material "PmmaMl" )}}selected{{/if}}>PMMA ML</option>
                                <option value="HtwOpaco" {{#if (eq bloque.tipo_material "HtwOpaco" )}}selected{{/if}}>HtwOpaco</option>
                                <option value="Aizir" {{#if (eq bloque.tipo_material "Aizir" )}}selected{{/if}}>Aizir</option>
                                <option value="Peek" {{#if (eq bloque.tipo_material "Peek" )}}selected{{/if}}>Peek</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Factor de contracción</label>
                            <input type="text" value="{{bloque.factor_contraccion}}" class="form-control" id="factor_contraccion"
                                name="factor_contraccion" placeholder="Factor de contracción">
                        </div>
                        <div class="form-group">
                            <label for="">Codigo de Barras</label>
                            <input type="text" value="{{bloque.codigo_barras}}" class="form-control" id="codigo_barras"
                                name="codigo_barras" placeholder="Codigo de barras" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Lote</label>
                            <input type="text" value="{{bloque.cantidad}}" class="form-control" name="cantidad"
                                placeholder="Lote" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Color (VITA Clásica):</label>
                            <select class="form-control" id="color" name="color" placeholder="Color (VITA Clásica):"
                                autofocus>
                                <option value="A1" {{#if (eq bloque.color "A1" )}}selected{{/if}}>A1</option>
                                <option value="A2" {{#if (eq bloque.color "A2" )}}selected{{/if}}>A2</option>
                                <option value="A3" {{#if (eq bloque.color "A3" )}}selected{{/if}}>A3</option>
                                <option value="A3.5" {{#if (eq bloque.color "A3.5" )}}selected{{/if}}>A3.5</option>
                                <option value="A4" {{#if (eq bloque.color "A4" )}}selected{{/if}}>A4</option>
                                <option value="B1" {{#if (eq bloque.color "B1" )}}selected{{/if}}>B1</option>
                                <option value="B2" {{#if (eq bloque.color "B2" )}}selected{{/if}}>B2</option>
                                <option value="B3" {{#if (eq bloque.color "B3" )}}selected{{/if}}>B3</option>
                                <option value="B4" {{#if (eq bloque.color "B4" )}}selected{{/if}}>B4</option>
                                <option value="C1" {{#if (eq bloque.color "C1" )}}selected{{/if}}>C1</option>
                                <option value="C2" {{#if (eq bloque.color "C2" )}}selected{{/if}}>C2</option>
                                <option value="C3" {{#if (eq bloque.color "C3" )}}selected{{/if}}>C3</option>
                                <option value="C4" {{#if (eq bloque.color "C4" )}}selected{{/if}}>C4</option>
                                <option value="D2" {{#if (eq bloque.color "D2" )}}selected{{/if}}>D2</option>
                                <option value="D3" {{#if (eq bloque.color "D3" )}}selected{{/if}}>D3</option>
                                <option value="D4" {{#if (eq bloque.color "D4" )}}selected{{/if}}>D4</option>
                                <option value="0M1" {{#if (eq bloque.color "0M1" )}}selected{{/if}}>0M1</option>
                                <option value="0M2" {{#if (eq bloque.color "0M2" )}}selected{{/if}}>0M2</option>
                                <option value="0M3" {{#if (eq bloque.color "0M3" )}}selected{{/if}}>0M3</option>
                                <option value="BL1" {{#if (eq bloque.color "BL1" )}}selected{{/if}}>BL1</option>
                                <option value="BL2" {{#if (eq bloque.color "BL2" )}}selected{{/if}}>BL2</option>
                                <option value="BL3" {{#if (eq bloque.color "BL3" )}}selected{{/if}}>BL3</option>
                                <option value="BL4" {{#if (eq bloque.color "BL4" )}}selected{{/if}}>BL4</option>
                                <option value="White" {{#if (eq bloque.color "White" )}}selected{{/if}}>White</option>
                                <option value="BlancoOpaco" {{#if (eq bloque.color "BlancoOpaco" )}}selected{{/if}}>BlancoOpaco</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Tamaño</label>
                            <select class="form-control" name="tamano" placeholder="Tamaño" autofocus>
                                <option value="8" {{#if (eq bloque.tamano 8)}}selected{{/if}}>8</option>
                                <option value="10" {{#if (eq bloque.tamano 10)}}selected{{/if}}>10</option>
                                <option value="12" {{#if (eq bloque.tamano 12)}}selected{{/if}}>12</option>
                                <option value="14" {{#if (eq bloque.tamano 14)}}selected{{/if}}>14</option>
                                <option value="16" {{#if (eq bloque.tamano 16)}}selected{{/if}}>16</option>
                                <option value="18" {{#if (eq bloque.tamano 18)}}selected{{/if}}>18</option>
                                <option value="20" {{#if (eq bloque.tamano 20)}}selected{{/if}}>20</option>
                                <option value="22" {{#if (eq bloque.tamano 22)}}selected{{/if}}>22</option>
                                <option value="25" {{#if (eq bloque.tamano 25)}}selected{{/if}}>25</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none;">
                            <select name="id_operario" id="id_operario" class="form-control" required readonly>
                                <!-- Itera sobre el array de operarios -->
                                {{#each operarios}}
                                <option value="{{id_operario}}">{{fullname}} (ID: {{id_operario}})</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Listas de frutas y colores aleatorios
    const frutas = [
        "Manzana", "Platano", "Pera", "Naranja", "Uva", "Melon", "Sandia", "Fresa", "Pina", "Durazno",
        "Mango", "Papaya", "Kiwi", "Cereza", "Ciruela", "Granada", "Mora", "Limon", "Guayaba", "Maracuya",
        "Mandarina", "Aguacate", "Mamon", "Pomelo", "Tamarindo", "Zapote", "Coco", "Almendra", "Castana",
        "Nispero", "Mamey", "Tamarillo", "Feijoa", "Anon", "Arandano", "Caimito", "Jocote", "Lucuma",
        "Chontaduro", "Borojo", "Uchuva", "Sapote", "Maranon", "Corozo", "Grosella", "Guanabana",
        "Granadilla", "Guama", "Curuba", "Nance", "Uvilla", "Higo", "Damasco", "Acerola", "Carambola",
        "Tumbo", "Pitaya", "Guayusa", "Aguaymanto", "Motilon", "Naranjilla", "Papayuela", "CamuCamu",
        "Guarana", "Mamoncillo", "Yacon", "Lulo", "Copoazu", "Ciriguelo", "Tuna", "Achotillo",
        "Guavira", "Bacaba", "Quinoto", "PepinoDulce", "Anacardo", "Jambolan", "Hicaco", "Mangaba",
        "Chirimoya", "MameyRojo", "Passiflora", "Moriche", "Biriba", "Guaimaro", "CiruelaAmarilla",
        "Totai", "Yatay", "Sapotilla", "Guacio", "Tamarin", "PomeloRosado", "Aguacatillo", "Guayurita",
        "CerezaNegra", "CiruelaVerde", "MangoDeAgua", "Granadillo", "MelonPepino", "Boldo", "Camotillo",
        "Tamico", "Jerguillo", "Tumbita", "Cambiurrito", "Guavito", "JocoteNegro", "Ciruelillo",
        "Aguaimanto", "Morochillo", "Araza", "Cafe", "Tayuya", "MirtoRojo", "Sapucaia", "MirtoNegro",
        "TomateDeArbol", "LimonMandarino", "Guabira", "Ciriguelon", "MangoBanilejo", "GuayabitaDelPeru",
        "Jurucu", "Guavo", "Guapuru", "Pajure", "Pistacho", "Cocona", "Marasmo", "Siriguela", "Chorrito",
        "Limonta", "Pandano", "Pequi", "Ubajara", "Cherry", "Aguajillo", "Murta", "Bagua", "MelonAmarillo",
        "Durian", "FalsaGuayaba", "Graviola", "Nutria", "Guabo", "Jacaranda", "Guavilla", "Safarana",
        "TomateSilvestre", "CarambolaPequena", "PomeloDulce", "Cajuillo", "SandiaAmarilla"
    ];

    const coloresAleatorios = [
        "Rojo", "Azul", "Verde", "Amarillo", "Negro", "Blanco", "Rosa", "Morado", "Naranja", "Gris",
        "Turquesa", "Violeta", "Fucsia", "Marron", "Beige", "Celeste", "Coral", "Lavanda", "Lila",
        "Aqua", "Indigo", "Oro", "Plata", "Bronce", "VerdeOliva", "VerdeLima", "VerdeBosque",
        "VerdePasto", "AzulMarino", "AzulClaro", "AzulTurquesa", "AmarilloPastel", "NaranjaPastel",
        "RosaPalido", "Purpura", "Menta", "Cafe", "RojoVino", "GrisPerla", "VerdeMusgo",
        "AmarilloMostaza", "Lima", "AzulElectrico", "Cian", "Salmon", "Caramelo", "Rosado",
        "VerdeEsmeralda", "NaranjaQuemado", "RosaPalo", "Cobre", "AmarilloCanario", "Marfil",
        "AzulPetroleo", "VinoTinto", "Terracota", "RojoCarmesi", "Cobalto", "Magenta", "Ambar",
        "Tangerina", "Tierra", "Madera", "Mostaza", "Aguamarina", "GrisHumo",
        "Granate", "NaranjaMandarina", "Ladrillo", "MoradoIntenso",
        "OlivaClaro", "Ceniza", "Fuego", "Cielo", "Agave", "Arena", "Piel",
        "Lava", "Ocre", "Cacao", "Malva", "Canela", "Cocoa",
        "Barro", "Pastel", "Vainilla", "VerdeHoja", "AzulCielo", "VerdeAmazonas",
        "MoradoBerenjena", "RosaChicle", "Pistacho", "Tabaco", "Azafran",
        "GrisAzulado", "Perla", "PaloRosa", "MoradoOscuro", "VerdeJungle", "GrisClaro",
        "Nieve", "Bronceado", "Chicle", "Plomo", "Nube", "Esmeralda",
        "Amatista", "Grafito", "CenizaOscura", "Tormenta", "Antracita", "HumoAzul",
        "Zafiro", "Lapislazuli", "Aluminio", "GrisCarbon", "Bermejo", "MangoMaduro",
        "Jade", "Turmalina", "Carmesi", "RosadoPolvo", "GrisRaton", "TurquesaOscuro",
        "RojoFerrari", "VerdePrimavera", "Ciruela", "Opalo", "VerdeLimon", "Pizarra",
        "MostazaOscuro", "LadrilloSuave", "AzulArandano", "LilaOscuro", "PlataVieja", "MoradoMedio",
        "VerdeFluorescente", "AmarilloFluorescente", "RojoOscuro", "VerdeHierba", "AzulCobalto",
        "RosadoNeon", "GrisAcero", "NaranjaNeon", "LilaPastel", "VerdeBoscoso",
        "RosaPastel", "VioletaOscuro", "TerracotaClaro", "DoradoOscuro", "TurquesaClaro",
        "VerdeOlivaOscuro", "CianOscuro", "AzulCeniza", "MoradoNeon", "RojoGranada"
    ];

    // Guardar los valores iniciales al cargar la página
    let valoresIniciales = {};

    // Función para guardar los valores iniciales
    function guardarValoresIniciales() {
        valoresIniciales.tipo_material = document.querySelector('[name="tipo_material"]').value;
        valoresIniciales.tamano = document.querySelector('[name="tamano"]').value;
        valoresIniciales.color = document.querySelector('[name="color"]').value;
    }

    // Función para manejar la visibilidad de los campos color y factor de contracción
function manejarVisibilidadCampos() {
    const tipoMaterial = document.querySelector('[name="tipo_material"]').value;
    const colorField = document.querySelector('[name="color"]').closest('.form-group');
    const factorContraccionField = document.querySelector('[name="factor_contraccion"]').closest('.form-group');

    // Ocultar el campo color si el material es CR CB o TITAN
    if (tipoMaterial === "CrCo" || tipoMaterial === "Titan") {
        colorField.style.display = 'none';
    } else {
        colorField.style.display = 'block';
    }

    // Ocultar el campo factor de contracción si el material no es de los especificados
    const materialesConFactor = ["3d", "Sagemax", "Stc", "Shtc", "Shtm", "HtwOpaco", "Aizir"];
    if (materialesConFactor.includes(tipoMaterial)) {
        factorContraccionField.style.display = 'block';
    } else {
        factorContraccionField.style.display = 'none';
    }
}

    // Función para generar un nombre para el bloque al editar
    function generarNombreBloqueEditar() {
        // Obtener los valores actuales de la base de datos
        const tipo_material = document.querySelector('[name="tipo_material"]').value;
        const tamano = document.querySelector('[name="tamano"]').value;
        const color = document.querySelector('[name="color"]').value;
        const nombreActual = document.getElementById("nombre").value;

        // Obtener la fruta y color actual del nombre (para no cambiarlos cada vez)
        const partes = nombreActual.split("-");
        const frutaGuardada = partes[1] || frutas[Math.floor(Math.random() * frutas.length)];
        const colorGuardado = partes[2] || coloresAleatorios[Math.floor(Math.random() * coloresAleatorios.length)];

        // Generar el nuevo nombre con los valores actuales
        let nuevoNombre;
        if (tipo_material === 'Titan' || tipo_material === 'CrCo') {
            nuevoNombre = `${tipo_material}${frutaGuardada}${colorGuardado}H${tamano}`;
        } else {
            nuevoNombre = `${tipo_material}${frutaGuardada}${colorGuardado}${color}H${tamano}`;
        }

        document.getElementById("nombre").value = nuevoNombre;
    }

    // Llamar a la función cuando se cargue la página
    document.addEventListener("DOMContentLoaded", function () {
        guardarValoresIniciales();
        manejarVisibilidadCampos();

        // Establecer eventos para actualizar el nombre cuando se cambian los campos
        const campos = document.querySelectorAll('[name="tipo_material"], [name="color"], [name="tamano"]');
        campos.forEach(campo => {
            campo.addEventListener("change", () => {
                manejarVisibilidadCampos();  // Ocultar o mostrar el color según el tipo de material
                generarNombreBloqueEditar();  // Actualizar el nombre si se hacen cambios
            });
        });
    });

    // Manejar el envío del formulario para asignar null al color si es necesario
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        const tipoMaterial = document.querySelector('[name="tipo_material"]').value;
        const colorField = document.querySelector('[name="color"]');

        if (tipoMaterial === 'Titan' || tipoMaterial === 'CrCo') {
            colorField.value = '-'; // Asigna un valor alternativo en lugar de NULL
        }

        // Lista de materiales que requieren factor de contracción
        const materialesConFactor = ["3d", "Sagemax", "Stc", "Shtc", "Shtm", "HtwOpaco", "Aizir"];

        // Asignar "-" al factor de contracción si el material NO requiere este campo
        if (!materialesConFactor.includes(tipoMaterial)) {
            factorContraccionField.value = '-';
        }
    });
</script>