<div class="contaider p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Edita Bloques</h3>
                </div>
                <div class="card-body">
                    <form action="/bloque/edit/{{bloque.id_bloque}}" method="post">
                        <div class="form-group">
                            <label for="">Nombre del Bloque</label>
                            <input type="text" value="{{bloque.nombre}}" class="form-control" id="nombre" name="nombre"
                                placeholder="Nombre Bloque" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Tipo de material</label>
                            <select class="form-control" name="tipo_material" placeholder="Tipo de material" autofocus>
                                <option value="3d" {{#if (eq bloque.tipo_material "3d" )}}selected{{/if}}>3d</option>
                                <option value="Sagemax" {{#if (eq bloque.tipo_material "Sagemax" )}}selected{{/if}}>
                                    Sagemax</option>
                                <option value="Stc" {{#if (eq bloque.tipo_material "Stc" )}}selected{{/if}}>Stc</option>
                                <option value="Shtc" {{#if (eq bloque.tipo_material "Shtc" )}}selected{{/if}}>Shtc
                                </option>
                                <option value="Shtm" {{#if (eq bloque.tipo_material "Shtm" )}}selected{{/if}}>Shtm
                                </option>
                                <option value="CrCo" {{#if (eq bloque.tipo_material "CrCo" )}}selected{{/if}}>CrCo
                                </option>
                                <option value="Titan" {{#if (eq bloque.tipo_material "Titan" )}}selected{{/if}}>Titan
                                </option>
                                <option value="Pmma" {{#if (eq bloque.tipo_material "Pmma" )}}selected{{/if}}>Pmma
                                </option>
                                <option value="ShofuHc" {{#if (eq bloque.tipo_material "ShofuHc" )}}selected{{/if}}>
                                    ShofuHc</option>
                                <option value="PmmaMl" {{#if (eq bloque.tipo_material "PmmaMl" )}}selected{{/if}}>PMMA
                                    ML</option>
                                <option value="HtwOpaco" {{#if (eq bloque.tipo_material "HtwOpaco" )}}selected{{/if}}>
                                    HtwOpaco</option>
                                <option value="Aizir" {{#if (eq bloque.tipo_material "Aizir" )}}selected{{/if}}>Aizir
                                </option>
                                <option value="Peek" {{#if (eq bloque.tipo_material "Peek" )}}selected{{/if}}>Peek
                                </option>
                                <option value="Wax" {{#if (eq bloque.tipo_material "Wax" )}}selected{{/if}}>Wax
                                </option>
                                <option value="Vezneer" {{#if (eq bloque.tipo_material "Vezneer" )}}selected{{/if}}>Vezneer
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Factor de contracción</label>
                            <input type="text" value="{{bloque.factor_contraccion}}" class="form-control"
                                id="factor_contraccion" name="factor_contraccion" placeholder="Factor de contracción">
                        </div>
                        <div class="form-group">
                            <label for="">Codigo de Barras</label>
                            <input type="text" value="{{bloque.codigo_barras}}" class="form-control" id="codigo_barras"
                                name="codigo_barras" placeholder="Codigo de barras" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Lote</label>
                            <input type="text" value="{{bloque.cantidad}}" class="form-control" name="cantidad"
                                placeholder="Lote" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Color (VITA Clásica):</label>
                            <select class="form-control" id="color" name="color" placeholder="Color (VITA Clásica):"
                                autofocus>
                                <option value="A1" {{#if (eq bloque.color "A1" )}}selected{{/if}}>A1</option>
                                <option value="A2" {{#if (eq bloque.color "A2" )}}selected{{/if}}>A2</option>
                                <option value="A3" {{#if (eq bloque.color "A3" )}}selected{{/if}}>A3</option>
                                <option value="A3.5" {{#if (eq bloque.color "A3.5" )}}selected{{/if}}>A3.5</option>
                                <option value="A4" {{#if (eq bloque.color "A4" )}}selected{{/if}}>A4</option>
                                <option value="B1" {{#if (eq bloque.color "B1" )}}selected{{/if}}>B1</option>
                                <option value="B2" {{#if (eq bloque.color "B2" )}}selected{{/if}}>B2</option>
                                <option value="B3" {{#if (eq bloque.color "B3" )}}selected{{/if}}>B3</option>
                                <option value="B4" {{#if (eq bloque.color "B4" )}}selected{{/if}}>B4</option>
                                <option value="C1" {{#if (eq bloque.color "C1" )}}selected{{/if}}>C1</option>
                                <option value="C2" {{#if (eq bloque.color "C2" )}}selected{{/if}}>C2</option>
                                <option value="C3" {{#if (eq bloque.color "C3" )}}selected{{/if}}>C3</option>
                                <option value="C4" {{#if (eq bloque.color "C4" )}}selected{{/if}}>C4</option>
                                <option value="D2" {{#if (eq bloque.color "D2" )}}selected{{/if}}>D2</option>
                                <option value="D3" {{#if (eq bloque.color "D3" )}}selected{{/if}}>D3</option>
                                <option value="D4" {{#if (eq bloque.color "D4" )}}selected{{/if}}>D4</option>
                                <option value="0M1" {{#if (eq bloque.color "0M1" )}}selected{{/if}}>0M1</option>
                                <option value="0M2" {{#if (eq bloque.color "0M2" )}}selected{{/if}}>0M2</option>
                                <option value="0M3" {{#if (eq bloque.color "0M3" )}}selected{{/if}}>0M3</option>
                                <option value="BL1" {{#if (eq bloque.color "BL1" )}}selected{{/if}}>BL1</option>
                                <option value="BL2" {{#if (eq bloque.color "BL2" )}}selected{{/if}}>BL2</option>
                                <option value="BL3" {{#if (eq bloque.color "BL3" )}}selected{{/if}}>BL3</option>
                                <option value="BL4" {{#if (eq bloque.color "BL4" )}}selected{{/if}}>BL4</option>
                                <option value="White" {{#if (eq bloque.color "White" )}}selected{{/if}}>White</option>
                                <option value="BlancoOpaco" {{#if (eq bloque.color "BlancoOpaco" )}}selected{{/if}}>
                                    BlancoOpaco</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Tamaño</label>
                            <select class="form-control" name="tamano" placeholder="Tamaño" autofocus>
                                <option value="8" {{#if (eq bloque.tamano 8)}}selected{{/if}}>8</option>
                                <option value="10" {{#if (eq bloque.tamano 10)}}selected{{/if}}>10</option>
                                <option value="12" {{#if (eq bloque.tamano 12)}}selected{{/if}}>12</option>
                                <option value="14" {{#if (eq bloque.tamano 14)}}selected{{/if}}>14</option>
                                <option value="16" {{#if (eq bloque.tamano 16)}}selected{{/if}}>16</option>
                                <option value="18" {{#if (eq bloque.tamano 18)}}selected{{/if}}>18</option>
                                <option value="20" {{#if (eq bloque.tamano 20)}}selected{{/if}}>20</option>
                                <option value="22" {{#if (eq bloque.tamano 22)}}selected{{/if}}>22</option>
                                <option value="25" {{#if (eq bloque.tamano 25)}}selected{{/if}}>25</option>
                            </select>
                        </div>
                        <div class="form-group" style="display: none;">
                            <select name="id_operario" id="id_operario" class="form-control" required readonly>
                                <!-- Itera sobre el array de operarios -->
                                {{#each operarios}}
                                <option value="{{id_operario}}">{{fullname}} (ID: {{id_operario}})</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Listas de frutas y colores aleatorios
    const frutas = [
        "Manzana", "Platano", "Pera", "Naranja", "Uva", "Melon", "Sandia", "Fresa", "Pina", "Durazno",
        "Mango", "Papaya", "Kiwi", "Cereza", "Ciruela", "Granada", "Mora", "Limon", "Guayaba", "Maracuya",
        "Mandarina", "Aguacate", "Mamon", "Pomelo", "Tamarindo", "Zapote", "Coco", "Almendra", "Castana",
        "Nispero", "Mamey", "Tamarillo", "Feijoa", "Anon", "Arandano", "Caimito", "Jocote", "Lucuma",
        "Chontaduro", "Borojo", "Uchuva", "Sapote", "Maranon", "Corozo", "Grosella", "Guanabana",
        "Granadilla", "Guama", "Curuba", "Nance", "Uvilla", "Higo", "Damasco", "Acerola", "Carambola",
        "Tumbo", "Pitaya", "Guayusa", "Aguaymanto", "Motilon", "Naranjilla", "Papayuela", "CamuCamu",
        "Guarana", "Mamoncillo", "Yacon", "Lulo", "Copoazu", "Ciriguelo", "Tuna", "Achotillo",
        "Guavira", "Bacaba", "Quinoto", "Pepinodulce", "Anacardo", "Jambolan", "Hicaco", "Mangaba",
        "Chirimoya", "Mameyrojo", "Passiflora", "Moriche", "Biriba", "Guaimaro", "Ciruelaamarilla",
        "Totai", "Yatay", "Sapotilla", "Guacio", "Tamarin", "Pomelorosado", "Aguacatillo", "Guayurita",
        "Cerezanegra", "Ciruelaverde", "Mangodeagua", "Granadillo", "Melonpepino", "Boldo", "Camotillo",
        "Tamico", "Jerguillo", "Tumbita", "Cambiurrito", "Guavito", "Jocotenegro", "Ciruelillo",
        "Aguaimanto", "Morochillo", "Araza", "Cafe", "Tayuya", "Mirtorojo", "Sapucaia", "Mirtonegro",
        "Tomatedearbol", "Limonmandarino", "Guabira", "Ciriguelon", "Mangobanilejo", "Guayabitadelperu",
        "Jurucu", "Guavo", "Guapuru", "Pajure", "Pistacho", "Cocona", "Marasmo", "Siriguela", "Chorrito",
        "Limonta", "Pandano", "Pequi", "Ubajara", "Cherry", "Aguajillo", "Murta", "Bagua", "Melonamarillo",
        "Durian", "Falsaguayaba", "Graviola", "Nutria", "Guabo", "Jacaranda", "Guavilla", "Safarana",
        "Tomatesilvestre", "Carambolapequena", "Pomelodulce", "Cajuillo", "Sandiaamarilla"
    ];

    const coloresAleatorios = [
        "Rojo", "Azul", "Verde", "Amarillo", "Negro", "Blanco", "Rosa", "Morado", "Naranja", "Gris",
        "Turquesa", "Violeta", "Fucsia", "Marron", "Beige", "Celeste", "Coral", "Lavanda", "Lila",
        "Aqua", "Indigo", "Oro", "Plata", "Bronce", "Verdeoliva", "Verdelima", "Verdebosque",
        "Verdepasto", "Azulmarino", "Azulclaro", "Azulturquesa", "Amarillopastel", "Naranjapastel",
        "Rosapalido", "Purpura", "Menta", "Cafe", "Rojovino", "Grisperla", "Verdemusgo",
        "Amarillomostaza", "Lima", "Azulelectrico", "Cian", "Salmon", "Caramelo", "Rosado",
        "Verdeesmeralda", "Naranjaquemado", "Rosapalo", "Cobre", "Amarillocanario", "Marfil",
        "Azulpetroleo", "Vinotinto", "Terracota", "Rojocarmesi", "Cobalto", "Magenta", "Ambar",
        "Tangerina", "Tierra", "Madera", "Mostaza", "Aguamarina", "Grishumo",
        "Granate", "Naranjamandarina", "Ladrillo", "Moradointenso",
        "Olivaclaro", "Ceniza", "Fuego", "Cielo", "Agave", "Arena", "Piel",
        "Lava", "Ocre", "Cacao", "Malva", "Canela", "Cocoa",
        "Barro", "Pastel", "Vainilla", "Verdehoja", "Azulcielo", "Verdeamazonas",
        "Moradoberenjena", "Rosachicle", "Pistacho", "Tabaco", "Azafran",
        "Grisazulado", "Perla", "Palorosa", "Moradooscuro", "Verdejungle", "Grisclaro",
        "Nieve", "Bronceado", "Chicle", "Plomo", "Nube", "Esmeralda",
        "Amatista", "Grafito", "Cenizaoscura", "Tormenta", "Antracita", "Humoazul",
        "Zafiro", "Lapislazuli", "Aluminio", "Griscarbon", "Bermejo", "Mangomaduro",
        "Jade", "Turmalina", "Carmesi", "Rosadopolvo", "Grisraton", "Turquesaoscuro",
        "Rojoferrari", "Verdeprimavera", "Ciruela", "Opalo", "Verdelimon", "Pizarra",
        "Mostazaoscuro", "Ladrillosuave", "Azularandano", "Lilaoscuro", "Platavieja", "Moradomedio",
        "Verdefluorescente", "Amarillofluorescente", "Rojooscuro", "Verdehierba", "Azulcobalto",
        "Rosadoneon", "Grisacero", "Naranjaneon", "Lilapastel", "Verdeboscoso",
        "Rosapastel", "Violetaoscuro", "Terracotaclaro", "Doradooscuro", "Turquesaclaro",
        "Verdeolivaoscuro", "Cianoscuro", "Azulceniza", "Moradoneon", "Rojogranada"
    ];

    // Guardar los valores iniciales al cargar la página
    let valoresIniciales = {};

    // Función para guardar los valores iniciales
    function guardarValoresIniciales() {
        valoresIniciales.tipo_material = document.querySelector('[name="tipo_material"]').value;
        valoresIniciales.tamano = document.querySelector('[name="tamano"]').value;
        valoresIniciales.color = document.querySelector('[name="color"]').value;
    }

    // Función para manejar la visibilidad de los campos color y factor de contracción
    function manejarVisibilidadCampos() {
        const tipoMaterial = document.querySelector('[name="tipo_material"]').value;
        const colorField = document.querySelector('[name="color"]').closest('.form-group');
        const factorContraccionField = document.querySelector('[name="factor_contraccion"]').closest('.form-group');

        // Ocultar el campo color si el material es CR CB o TITAN
        if (tipoMaterial === "CrCo" || tipoMaterial === "Titan" || tipoMaterial === 'Peek' || tipoMaterial === 'Wax') {
            colorField.style.display = 'none';
        } else {
            colorField.style.display = 'block';
        }

        // Ocultar el campo factor de contracción si el material no es de los especificados
        const materialesConFactor = ["3d", "Sagemax", "Stc", "Shtc", "Shtm", "HtwOpaco", "Aizir", "Vezneer"];
        if (materialesConFactor.includes(tipoMaterial)) {
            factorContraccionField.style.display = 'block';
        } else {
            factorContraccionField.style.display = 'none';
        }
    }

    // Función para generar un nombre para el bloque al editar
    function generarNombreBloqueEditar() {
        // Obtener los valores actuales de la base de datos
        const tipo_material = document.querySelector('[name="tipo_material"]').value;
        const tamano = document.querySelector('[name="tamano"]').value;
        const color = document.querySelector('[name="color"]').value;
        const nombreInput = document.getElementById("nombre");
        const nombreActual = nombreInput.value;

        console.log(nombreActual)
        // Extraer las partes originales del nombre (por ejemplo: AizirGuavillaCocoaFuegoA2H14)
        const match = nombreActual.match(/^([A-Za-z0-9]+)([A-Z][a-z]+(?:[A-Z][a-z]+)*)([A-Z][a-z]+(?:[A-Z][a-z]+)*)(?:A(\d+))?H(\d+)$/);

        let fruta = "Fruta";
        let colorGuardado = "Color1";
        let colorBloque = "Color2";

        if (match) {
            fruta = match[2] || fruta;
            colorGuardado = match[3] || colorGuardado;
            colorBloque = match[4] || colorBloque;
        }

        // Usar color solo si el tipo_material no es CrCo, Titan, Peek o Wax
        if (["CrCo", "Titan", "Peek", "Wax"].includes(tipo_material)) {
            nuevoNombre = `${tipo_material}${fruta}${colorGuardado}H${tamano}`;
        } else {
            nuevoNombre = `${tipo_material}${fruta}${colorGuardado}${color}H${tamano}`;
        }

        document.getElementById("nombre").value = nuevoNombre;
    }

    // Llamar a la función cuando se cargue la página
    document.addEventListener("DOMContentLoaded", function () {
        guardarValoresIniciales();
        manejarVisibilidadCampos();

        // Escuchar cambios en los campos relevantes
        document.querySelector('[name="tipo_material"]').addEventListener("input", () => {
            manejarVisibilidadCampos();
            generarNombreBloqueEditar();
        });

        document.querySelector('[name="color"]').addEventListener("input", generarNombreBloqueEditar);
        document.querySelector('[name="tamano"]').addEventListener("input", generarNombreBloqueEditar);
    });

    // Manejar el envío del formulario para asignar null al color si es necesario
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
        const tipoMaterial = document.querySelector('[name="tipo_material"]').value;
        const colorField = document.querySelector('[name="color"]');

        if (tipoMaterial === 'Titan' || tipoMaterial === 'CrCo' || tipoMaterial === 'Peek' || tipoMaterial === 'Wax') {
            colorField.value = '-'; // Asigna un valor alternativo en lugar de NULL
        }

        // Lista de materiales que requieren factor de contracción
        const materialesConFactor = ["3d", "Sagemax", "Stc", "Shtc", "Shtm", "HtwOpaco", "Aizir", "Vezneer"];

        // Asignar "-" al factor de contracción si el material NO requiere este campo
        if (!materialesConFactor.includes(tipoMaterial)) {
            factorContraccionField.value = '-';
        }
    });
</script>